h1 {
  color: #fbec3f;
}
#apuntate {
  background-color: #357d93;
}
#perfiles,
#team,
#contacto {
  background-color: #f8f9fb;
}

#perfiles img {
  width: 10rem;
  align-self: center;
}

footer > * {
  color: white;
  text-align: center;
}
footer > p {
  font-style: italic;
}

footer > p ~ p {
  font-size: 0.7rem;
  font-style: normal;
}
ul li {
  display: inline-block;
}
a > img {
  height: 30px;
  width: 30px;
}

footer {
  background-color: #6c757e;
}

footer ul {
  padding: 0;
}

footer ul .footer-face {
  grid-area: face;
  text-align: center;
  width: 50px;
}
footer ul .footer-youtube {
  grid-area: youtube;
  text-align: center;
  width: 50px;
}
footer ul .footer-twitter {
  grid-area: twitter;
  text-align: center;
  width: 50px;
}
footer ul .footer-spotify {
  grid-area: spotify;
  text-align: center;
  width: 50px;
}

/* @media only screen and (min-width: 960px) and (max-width: 1440px) {
  footer ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 2000px) {
  footer ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media only screen and (min-width: 2000px) {
  footer ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
} */
